
.form-input{
    width: 50%;
}
.form-select{
    width: 50%;
}
.btn-1{
  width: 140px; 
  margin-inline: 20px;
  color: black;
}
#container{
  align-items: baseline;
}
#task-container{
  font-size: 18px;
  width: 80%;
  padding: 40px;
  color: #374151;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
@media screen and (max-width: 1337px) {
  .form-input{
    width: 130%;
  }
  .form-select{
    width: 100%;
  }
  .btn-1{
    width: 130%;
    margin-inline: 0;
    margin-top: 20px;
    color: black;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
  #container{
    align-items: baseline;
  }
  #task-container{
    font-size: 18px;
    width: 80%;
    color: #374151;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 -10px 0 0;
  }
}