/* home.css */
.checkBox {
width: 20px;
    height: 20px;
    accent-color: #35e188;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    transition: 0.2s;
    justify-content: space-between;
    align-items: center;
    float: inline-end;
    /* margin: 20% 0 0 0; */
    margin: 5px;
    top: 20%;
    position: relative;
    top: 0;
}

.btn-closed{
      margin: 20px;
        cursor: pointer;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: #35e188;
        color: #222B45;
        font-weight: bold;
        transition: background-color 0.3s ease;
        display: none;
        position: absolute;
        left: 0;

}
@media screen and (max-width: 1337px) {
  #btn-1{
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
  #text-container{
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2{
    font-size: 38px;
    margin-top: 15px;
  }

 }