/* home.css */
.checkBox {
width: 20px;
    height: 20px;
    accent-color: #35e188;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    transition: 0.2s;
    justify-content: space-between;
    align-items: center;
    float: inline-end;
    /* margin: 20% 0 0 0; */
    margin: 5px;
    top: 20%;
    position: relative;
    top: 90px;
}

