*{
    margin: 0;
    padding: 0;
}
.side_menu:hover{
    background-color: #E6EEFF;
    color: #1D4ED8;
}
.side_menu{
    color: #222B45;
}
.side_menu.active{
    background-color: #E6EEFF;
    color: #073fda;
}

#menu-btn{
    display: none;

}


@media screen and (max-width: 1337px) {
  #menu-btn{
     margin-bottom: 20px;
        cursor: pointer;
        font-size: 16px;
        /* padding: 10px 15px; */
        border: none;
        border-radius: 5px;
        background-color: #35e188;
        color: #222B45;
        font-weight: bold;
        transition: background-color 0.3s ease;
        /* float: inline-start; */
        display: block;
        position: relative;
        left: 40px;
  }
    #menu{
        width: 0;
    }
}